/* #column-one {
    padding-top: 10%; 
    padding-bottom: 10%; 
    align-items: center;

} */
#main-doc{
    transition: all .5s;
    border: 2px solid black;
    
}
body{
    background-color: rgb(69, 132, 214);
    position:relative;
    width:100%;
    height:auto;
    border: 1px solid pink;
    
}
.flex-container{
    display:flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif 
    
}
.flex-child {
    flex: 1;
    border: 1px solid yellow;
    text-align:center;  
    
}
.sidebar{
    
    left: -250;
    width: 320px;
    height:100%;
    
    background: #042331;
    transition: all .5s ease;
    transform:translateX(-330px);
    
}


.sidebar header{
    color:white;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    color: white;
    display: block;
    height: 85%;
    width: 95%;
    line-height: 20px;
    font-size: 15px;
    padding-left: 5px;
    
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    text-decoration:none;
    list-style-type: none;
    border-color:maroon;
    padding:20px;
}
ul{
    list-style-type: none;
}

.sidebar ul li a{
    text-decoration: none;
}
ul li:hover a{
    padding-left: 15px;
}
.sidebar ul a i{
    margin-right: 15px;
}

#check {
    display: none;
  
}
label #btn label #cancel{
   position:absolute;
   cursor: pointer;
   background: #042331;
   border-radius: 3px;
}
label #btn{
    right: 40px;
    top: 25px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 25px;
    color: #0a5275;
    padding: 4px 9px;
}

#check:checked ~ label #btn{
    left: 150px;
    opacity: 0px;
    pointer-events: none;
}
#check:checked ~.sidebar{
transform: translateX(0px);
}
#check:checked ~#main-doc{
    margin-left: 330px;
    }
    
