/* #column-one {
    padding-top: 10%; 
    padding-bottom: 10%; 
    align-items: center;

} */
body{
    background-color: rgb(69, 132, 214);
   
}
.flex-container{
    display:flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif 
    
}
.flex-child {
    flex: 1;
    border: 5px solid yellow;
       
    
}


